* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
.underline {
  text-decoration: underline;
}
.light-grey {
  background-color: rgb(249, 245, 245);
}
.deep-blue {
  background-color: rgb(7, 7, 52);
  color: white;
}

.span-text-blue {
  color: rgb(91, 161, 230);
}
.text-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-number a {
  color: white;
}

.hireButton {
  background-color: rgb(91, 161, 230);
  border-radius: 5px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
  font-weight: bolder;
  margin-right: 7px;
}
.hireButton:hover {
  color: red;
  border: red;
}

.btn-info {
  background-color: transparent;
  font-weight: bolder;
  margin-right: 7px;
}
.nav-number {
  padding-right: 10px;
}
.button-number-div {
  align-items: center;
}
.transparent-background {
  background-color: transparent;
  backdrop-filter: blur(5px);
}
.navbar-brand {
  transition: 0.3s ease-in-out;
}
.navbar-brand:hover {
  color: rgb(91, 161, 230);
}
.nav-link {
  transition: 0.3s ease-in-out;
}
.nav-link:hover {
  color: rgb(91, 161, 230);
}
.navbar-toggler {
  transition: 0.3s ease-in-out;
}
.navbar-toggler:hover {
  color: rgb(91, 161, 230);
}
.navbar {
  background-color: black;
}
.navbar {
  background-color: transparent !important;
}
.dropdown-menu {
  background-color: transparent;
}
.navbar-collapse.show {
  background-color: white;
  border-left: 2px solid rgb(7, 7, 52);
  border-right: 2px solid rgb(7, 7, 52);
  border-bottom: 2px solid rgb(7, 7, 52);
  margin-top: 3px;
  padding: 0px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.span-number {
  display: flex;
  justify-content: right;
}

.tilt-container {
  font-size: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tilt-box-wrap {
  width: 400px;
  height: 400px;
  position: relative;
  transition: 0.6s ease-out;
  perspective: 1000px;
}
.tilt-box-wrap:hover {
  transition: all 0.3s linear;
  transform: scale(1.1);
}
.tilt-box {
  width: 100%;
  height: 100%;
  background: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  transition: all 0.6s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}
.tilt-box strong {
  transform: translateZ(40px);
}
.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
  cursor: all-scroll;
}
.t_over:nth-child(1) {
  left: 0;
  top: 0;
}
.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}
.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}
.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}
.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}
.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}
.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}
.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}
.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}

.t_over:nth-child(1):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(20deg);
}
.t_over:nth-child(2):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(0deg);
}
.t_over:nth-child(3):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(-20deg);
}
.t_over:nth-child(4):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(20deg);
}
.t_over:nth-child(5):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(0deg);
}
.t_over:nth-child(6):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(-20deg);
}
.t_over:nth-child(7):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
}
.t_over:nth-child(8):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(0deg);
}
.t_over:nth-child(9):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
}

.hero-background {
  background-color: rgb(91, 161, 230);
  position: relative;
}
.section {
  padding: 0;
  padding: 30px 0;
}
.background-color-blue {
  background-color: rgb(91, 161, 230);
}
.header-section {
  position: sticky;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(5px);
  z-index: 10;
  height: 7vh;
}
.header-jonny-to-top {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.hero-section {
  display: flex;
  justify-content: space-around;
  height: 97vh;
}

.landing-section {
  position: relative;
  top: 0;
  z-index: 1;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-big-text {
  font-size: 50px;
}
.hero-left-buttons {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.hero-contact-me:hover {
  cursor: pointer;
}
.hero-left-buttons > p {
  margin: 0;
  margin-left: 10px;
  text-decoration: underline;
}
.heroPic {
  max-height: 450px;
  width: 450px;
  border-radius: 50%;
  border: 7px solid white;
  max-width: 100%;
  cursor: all-scroll;
}
.hero-right {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.button-view-work {
  border: 3px solid black;
  padding: 10px;
  background-color: black;
  font-weight: bolder;
  color: white;
}

@media (max-width: 1100px) {
  .hero-section {
    flex-direction: column-reverse;

    justify-content: center;
  }
  .hero-left {
    margin-top: 15px;
  }
  .hero-right {
    padding-top: 10px;
    align-items: center;
    padding-bottom: 20px;
  }
  .hero-left > h1,
  .hero-left > h2 {
    text-align: center;
  }

  .hero-left-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero-left-buttons > p {
    padding: 10px;
  }
  .heroPic {
    max-width: 95vw;
  }
}
@media (max-width: 550px) {
  .hero-big-text {
    font-size: 40px;
  }
  .hero-right {
    padding-top: 20px;
  }
  .heroPic {
    max-width: 90vw;
  }
}
.mini-title {
  background-color: rgb(91, 161, 230);
  padding: 3px 6px;
  color: white;
  font-weight: bolder;
}
.mini-title-p {
  text-align: center;
  padding-top: 40px;
}
.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.know-me-more {
  display: flex;
  padding-bottom: 20px;
}

.know-me-more-left {
  flex: 5;
  padding: 0px 40px 50px 0px;
  font-size: 25px;
}
.know-me-more-right {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.computer-guy {
  max-width: 70%;
}
.know-me-more-sub-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.know-more-item-bottom {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .know-me-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }

  .know-me-more-left > div {
    text-align: center;
  }
  .know-me-more-left {
    padding-right: 0px;
  }
  .computer-guy {
    max-width: 70%;
    display: flex;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .know-me-more-sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .know-me-more-sub-section > div {
    padding: 10px 0px;
  }
}
.what-do-items-top-row {
  display: flex;
}
.what-do-items-top-row > .card,
.what-do-items-bottom-row > .card {
  margin: 2px;
}

.card-img-top {
  max-height: 200px;
  width: auto;
}
.card {
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

@media (max-width: 930px) {
  .what-do-items-top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .what-i-do-top-row-items,
  .what-i-do-bottom-row-items {
    padding-bottom: 20px;
  }
}

.summary-section {
  display: flex;
  justify-content: space-around;
}
.resume-section,
.summary-section > div > div {
  background-color: rgb(192, 222, 251);
}
.summary-sub-headers {
  display: flex;

  padding-bottom: 20px;
}
#summary-education-header {
  flex: 1;
  text-align: left;
}
#summary-experience-header {
  flex: 1;
  text-align: left;
}
.summary-section-left,
.summary-section-right {
  border-left: 2px solid blue;
  padding-left: 10px;
  margin-right: 15px;
  flex: 1;
}
.summary-section-left > div > p {
  border-bottom: 2px solid lightgray;
}
.summary-section-right > div > p {
  border-bottom: 2px solid lightgray;
}
#summary-item-left-bottom > p,
#summary-item-right-bottom > p {
  margin-bottom: 0;
}

@media (max-width: 930px) {
  .summary-section {
    flex-direction: column;
    padding: 0 10px;
  }

  #summary-experience-header {
    position: relative;
    top: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
  }

  .summary-section-left {
    margin-bottom: 40px;
  }

  .summary-section-right {
    margin-top: 20px;
  }
}

@media (max-width: 930px) {
  #summary-experience-header {
    color: green;
    display: none;
  }
}
@media (min-width: 930px) {
  #summary-experience-header-narrow-view > h3 {
    color: blue;
    display: none;
  }
  .summary-experience-header {
    color: green;
  }
}

.cv-button-div {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
.cv-button {
  padding: 15px 35px;
  background-color: white;
  border: 3px solid black;
}
.card-rows {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.projects-card-img-top {
  padding-top: 30px;
}
.project-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 15px;
  transition: all 0.3s ease;
}
.project-card:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px,
    rgba(0, 0, 0, 0.22) 0px 18px 15px;
  box-shadow: rgba(192, 222, 251, 0.3) 0px 25px 50px,
    rgb(192, 222, 251, 0.3) 0px 18px 15px;
}

.project-buttons-div {
  display: flex;
  justify-content: center;
}
.project-buttons-div > a {
  margin: 7px;
  font-weight: bolder;
  background-color: rgb(91, 161, 230);
}

@media (max-width: 900px) {
  .card-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-card {
    padding-bottom: 30px;
  }
}
.blurred-image-div {
  overflow: hidden;
  position: relative;
  max-height: 400px;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.blurred-image {
  width: 100%;
  transition: transform 0.3s ease;
}

.centered-text {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 0px 10px;
}

.blurred-image-div:hover .blurred-image {
  transform: scale(1.3);
}

#question-mini-title-p {
  text-align: left;
}
#question-section-header {
  text-align: left;
  margin-bottom: 20px;
}
.main-question-section {
  display: flex;
  justify-content: space-between;
}
.questions-header-container {
  justify-content: left;
}
.lightbulb {
  max-height: 300px;
  width: auto;
  transition: ease-in-out;
  transform-origin: center bottom;
}

@keyframes rotateAndReturn {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-45deg);
  }
  66% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.lightbulb:hover {
  animation: rotateAndReturn 1s;
}

.question-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}
.question-section-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.accordion {
  max-width: 500px;
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

#accordionExample {
  border: none;
}
.accordion,
.accordion-item {
  border-left: none;
  border-right: none;
  border-top: none;
}
#accordion-item-five {
  border-bottom: none;
}
#accordionExample {
  border: none;
  border: hidden;
}

@media (max-width: 930px) {
  .main-question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #question-mini-title-p {
    text-align: center;
  }
  #question-section-header {
    text-align: center;
    margin-bottom: 20px;
  }
  .question-section-image-div {
    height: 230px;
    padding-top: 30px;
  }
  .lightbulb {
    max-height: 190px;
  }
}
.contact-section {
  background-color: rgb(192, 222, 251);
}
.contact-container {
  padding-bottom: 30px;
}
.main-contact-section {
  display: flex;
  justify-content: space-between;
}
.contact-section-left,
.contact-section-right {
  max-width: 35vw;
}
.contact-left-sect-a {
  padding-right: 20px;
}
.contact-left-sect-d > a > i {
  padding: 7px 20px;
}
.fa-whatsapp {
  color: green;
}
.fa-linkedin {
  color: blue;
}
.fa-github {
  color: black;
}
.contact-left-sect-a,
.contact-left-sect-b,
.contact-left-sect-c {
  padding-bottom: 6px;
}

.contact-input-areas {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.send-button {
  padding: 10px 25px;
  margin-top: 10px;
  color: white;
  background-color: black;
  font-weight: bolder;
}

.flash-animation {
  animation: flash 3s;
}

@keyframes flash {
  10% {
    color: red;
  }
  20% {
    color: red;
  }
  30% {
    color: black;
  }
  40% {
    color: red;
  }
  50% {
    color: red;
  }
  60% {
    color: black;
  }
  70% {
    color: red;
  }
  80% {
    color: red;
  }
  90% {
    color: black;
  }
  100% {
    color: black;
  }
}

@media (max-width: 930px) {
  .main-contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-header-left {
    padding-top: 10px;
  }
  .contact-section-left,
  .contact-section-right {
    max-width: 100vw;
  }
  .contact-header-right {
    padding-top: 50px;
  }
  .contact-left-sect-d {
    padding-top: 10px;
  }
}
/* 
.tilt-container {
  font-size: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tilt-box-wrap {
  width: 400px;
  height: 400px;
  position: relative;
  transition: 0.6s ease-out;
  perspective: 1000px;
}
.tilt-box-wrap:hover {
  transition: all 0.3s linear;
  transform: scale(1.1);
}
.tilt-box {
  width: 100%;
  height: 100%;
  background: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  transition: all 0.6s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}
.tilt-box strong {
  transform: translateZ(40px);
}
.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
  cursor: all-scroll;
}
.t_over:nth-child(1) {
  left: 0;
  top: 0;
}
.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}
.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}
.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}
.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}
.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}
.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}
.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}
.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}

.t_over:nth-child(1):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(20deg);
}
.t_over:nth-child(2):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(0deg);
}
.t_over:nth-child(3):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(-20deg);
}
.t_over:nth-child(4):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(20deg);
}
.t_over:nth-child(5):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(0deg);
}
.t_over:nth-child(6):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(-20deg);
}
.t_over:nth-child(7):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
}
.t_over:nth-child(8):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(0deg);
}
.t_over:nth-child(9):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
} */

.footer-section {
  padding: 30px 0px 50px;
  font-weight: bolder;
  color: white;
  background-color: rgb(7, 7, 52);
  text-align: center;
}

.footer-items {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.footer-items > a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.footer-items > a:hover {
  color: red;
}
.footer-items::after {
  transition: 0.3s ease-in-out;
}

.footer-header > a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer-header > a:hover {
  color: red;
}

.footer-header::after {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer-header:hover {
  color: red;
}
@media (max-width: 990px) {
  .collapse.show {
    display: block !important;
  }
  .nav-number-two {
    display: none;
  }
}
@media (min-width: 990px) {
  .nav-number {
    display: none;
  }
  .nav-number-right-div {
    display: flex;
    justify-content: space-between;
  }
}
